<div>
	<div class="jumbotron">
		<div class="slide-container">
			<flex-slider slide="s in mySlides" animation="fade" controlNav=false directionNav=false>
			    <li>
			        <div class="slide"><center><h1>{{s}}</h1></center></div>
			    </li>
			</flex-slider>
		</div>
		<div class="container content">
			<center>
				<h2>Why eAds?</h2>
				<p style="text-align:justify">
					eAds enables organizations to get in touch with the right people, at the right time, with the right message in real-time. It helps organizations to achieve real business goals, increase revenue, reduce cost, build brand awareness, enhance sales, and improve customer loyalty by advertise in real-time on fingertips.
				</p>
			</center>
		</div>
	</div>
</div>